@{
    ViewBag.Title = "Ayuda";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";
    TempData["DatosLogin"] = ViewBag.DatosLogin;
}

<!-- Tabs With Icon Title -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    AYUDA
                </h2>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#reglas" data-toggle="tab">
                            <i class="material-icons">assignment</i> Reglas
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#uso_sitio" data-toggle="tab">
                            <i class="material-icons">announcement</i> Uso del sitio
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="reglas">
                        <h3>Reglas de la Quiniela</h3>
                        <b>Ingreso de pron&oacute;sticos</b>
                        <p>
                            Los ingresos de pron&oacute;sticos estar&aacute;n disponibles hasta media hora antes del juego. Es decir si el partido empieza a las 3 de la tarde, tendr&aacute;s hasta las 2:30 de la tarde para ingresar tus marcadores, luego de esto nadie podr&aacute; ingresar sus marcadores (sin excepci&oacute;n alguna).
                        </p>
                        <b>Estados de un partido</b>
                        <p>
                            Cada partido poseer&aacute; un estado y un color asociado.
                            <ul>
                                <li><b>No iniciado (blanco):</b> estado en el cual se podr&aacute; realizar el ingreso de pron&oacute;sticos</br>
                                <li><b>Cierre de ingreso de pron&oacute;sticos (lima):</b> tiempo durante el cual no se podr&aacute;n ingresar pron&oacute;sticos. Al momento de cambiar a este estado, te llegar&aacute; un correo electr&oacute;nico con el pron&oacute;stico ingresado por todos los usuarios y la hora en la cual se ingres&oacute; el pron&oacute;stico.</li>
                                <li><b>Iniciado (verde):</b> indicar&aacute; que el partido se encuentra en juego y tampoco podr&aacute;s ingresar tus pron&oacute;sticos.</li>
                                <li><b>Finalizado (gris):</b> 120 minutos luego de iniciado el partido, este finalizar&aacute; y recibir&aacute;s un correo electr&oacute;nico con el ranking actualizado</li>
                            </ul>
                        </p>
                        <b>Puntos por partido</b>
                        <p>
                            El c&aacute;lculo de puntos se realizar&aacute; durante los 90 minutos de juego y minutos adicionales que el &aacute;rbitro indique dentro de estos 90 minutos de juego (no se tomar&aacute;n en cuenta los tiempos extra o en &uacute;ltima instancia, la tanda de penales).<br /><br />
                            El c&aacute;lculo de puntos por partido ser&aacute; de la siguiente manera.
                            <ul>
                                <li>1 punto por marcador acertado (cantidad de goles por equipo)</li>
                                <li>3 puntos por resultado acertado.</li>
                            </ul>

                            Logrando obtener 5 puntos como m&aacute;ximo por partido.<br /><br />
                            <b><u>Por ejemplo:</u></b><br /><br />
                            <u>Resultado de partido</u><br />
                            <i>Equipo1:</i> 3 goles<br />
                            <i>Equipo2:</i> 1 gol<br /><br />

                            <u>Pron&oacute;stico ingresado</u><br />
                            <i>Equipo1:</i> 3 goles<br />
                            <i>Equipo2:</i> 0 goles<br /><br />

                            Se tendr&iacute;an 4 puntos donde estos 4 puntos est&aacute;n desglosados de la siguiente manera:
                            <ul>
                                <li>3 puntos por haber acertado que el Equipo1 ganaba</li>
                                <li>1 punto por acertar a que el Equipo1 met&iacute;a 3 goles</li>
                            </ul>
                            Con esto haciendo un total de 4 puntos.<br /><br/>
                            El no ingresar pron&oacute;sticos no se tomar&aacute; como un 0-0, si no se ingresa pron&oacute;sticos autom&aacute;ticamente se tendr&aacute; <u>0 puntos</u> para este partido.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="uso_sitio">
                        <p>
                            El sitio cuenta con dos opciones principales en su men&uacute;:<br /><br />
                            <ul>
                                <li><b>Tabla de posiciones:</b> ac&aacute; podr&aacute;s visualizar en qu&eacute; posici&oacute;n de la tabla te encuentras (marcando tu alias en color verde), al final de la tabla estar&aacute; disponible un bot&oacute;n para poder ver como cada alias ha ido haciendo sus puntos.</li>
                                <li><b>Ingreso de pron&oacute;sticos:</b> esta pantalla te mostrar&aacute; todos los partidos disponibles agrupados por fecha, donde podr&aacute;s ingresar tus pron&oacute;sticos por partido, para conocer cuales son las reglas del ingreso de pron&oacute;sticos podes ir a la pestaña “Reglas” para conocer m&aacute;s detalle. </li>
                                <li><b>Consulta de puntos:</b> Puedes consultar como cada alias ha obtenido sus puntos de 2 maneras diferentes
                                    <ul>
                                        <li>Para consultar el detalle completo de puntos de un alias ingresa en la opci&oacute;n del men&uacute; “Tabla de posiciones” y presiona el bot&oacute;n azul correspondiente al alias que quieres consultar.</li>
                                        <li>Para consultar los puntos de todos los alias para un partido en espec&iacute;fico ingresa en la opci&oacute;n del men&uacute; “Ingreso de pron&oacute;sticos”  y presiona el bot&oacute;n azul correspondiente al partido que quieres consultar. </li>
                                    </ul>
                                </li>
                            </ul>
                            Podes participar con m&aacute;s de un alias (solicita m&aacute;s informaci&oacute;n enviando un correo a info@devappsgt.com), y para poder alternar entre tus diferentes alias, una vez ingresado en el sitio ver&aacute;s el siguiente &iacute;cono <i class="material-icons">more_vert</i> d&oacute;nde al hacer clic en &eacute;l, ver&aacute;s listado tus alias y al seleccionar uno podr&aacute;s ingresar pron&oacute;sticos y ver la posici&oacute;n del ranking en donde se encuentra el alias seleccionado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Tabs With Icon Title -->
