@{
    TempData["DatosLogin"] = ViewBag.DatosLogin;

    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";
}

<h2>Ha ocurrido un error inesperado</h2>

<img src="../images/error.gif" alt="Error" class="js-animating-object img-responsive" />