@model MvcQuiniela.ViewModel.QuinielaViewModel

@{
    TempData["DatosLogin"] = ViewBag.DatosLogin;

    ViewBag.Title = "Ingreso Usuario";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";

}

<script type="text/javascript">
    function guardarUsuario(){
        var primerNombre = document.getElementById("primer_nombre").value;
        var segundoNombre = document.getElementById("segundo_nombre").value;
        var primerApellido = document.getElementById("primer_apellido").value;
        var segundoApellido = document.getElementById("segundo_apellido").value;
        var identificacion = document.getElementById("identificacion").value;
        var correoElectronico = document.getElementById("correo_electronico").value;
        var rol = document.getElementById("rol").value;

        var _usuario = {};
        _usuario.us_primerNombre = primerNombre;
        _usuario.us_segundoNombre = segundoNombre;
        _usuario.us_primerApellido = primerApellido;
        _usuario.us_segundoApellido = segundoApellido;
        _usuario.us_correoElectronico = correoElectronico;
        _usuario.us_cui = identificacion;

        $.ajax({
            type: "POST",
            url: "/Quiniela/GuardarUsuario?rol=" + rol,
            data: JSON.stringify(_usuario ),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                 //alert('ok');
                //document.form_validation.submit();
                document.getElementById("form_validation").submit();
            },
            error: function(err) {
                alert("Error: " + err.responseText);

            }
        });

    }

</script>


<!-- Bootstrap Select Css -->
<link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
 <!-- Basic Validation -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Ingreso de usuario</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="~/Quiniela/ListaUsuario">Lista de usuarios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="form_validation" method="POST" action="~/Quiniela/ListaUsuario/">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" id="primer_nombre" name="primer_nombre" required>
                            <label class="form-label">Primer Nombre</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control"  id="segundo_nombre" name="segundo_nombre">
                            <label class="form-label">Segundo Nombre</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" id="primer_apellido" name="primer_apellido" required>
                            <label class="form-label">Primer Apellido</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido">
                            <label class="form-label">Segundo Apellido</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" id="identificacion" name="identificacion" required>
                            <label class="form-label">DPI</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" required>
                            <label class="form-label">Correo electronico</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">Rol</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">

                            <select class="form-control" id="rol" name="rol">
                                <option value="">-- Seleccione rol --</option>
                                @for (int i = 0; i < Model.vm_roles.Count(); i++)
                                {
                                    if (Model.vm_roles.ElementAt(i).ro_estado.ToString() == "V")
                                        {
                                <option value="@Model.vm_roles.ElementAt(i).ro_id">@Model.vm_roles.ElementAt(i).ro_nombre</option>
                                    }
                                }
                            </select>
                              
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect" onclick="guardarUsuario();" >Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Validation -->
@section CustomJs {
      <!-- Jquery Core Js -->
<!-- Jquery Validation Plugin Css -->
<script src="../../plugins/jquery-validation/jquery.validate.js"></script>
<!-- JQuery Steps Plugin Js -->
<script href="~/plugins/jquery-steps/jquery.steps.js"></script>

<!-- Sweet Alert Plugin Js -->
<script src="../../plugins/sweetalert/sweetalert.min.js"></script>

<!-- Custom Js -->
<script href="~/js/pages/forms/form-validation.js"></script>
    }

