@{
    ViewBag.Title = "IngresoMarcadores";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";
}

<div class="block-header">
    <h2>Fase de Grupos</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Spartak Stadium<small>1 de Junio &#64; 12:30 p.m. [No iniciado]</small>
                </h2>
            </div>
            <div class="body">
                <table width="100%" cellpadding="2" cellspacing="2" border="0">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td align="center" colspan="3"><b>Mi Pron&oacute;stico</b></td>
                    </tr>

                    <tr>
                        <td width="50px"><img src="~/images/flags/crc.png" alt="Costa Rica" /></td>
                        <td>Costa Rica</td>
                        <td width="5px">
                            <button type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                        <td align="center" width="25px">0</td>
                        <td width="5px">
                            <button type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">remove</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="~/images/flags/mex.png" alt="Mexico" /></td>
                        <td>M&eacute;xico</td>
                        <td>
                            <button type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                        <td align="center">2</td>
                        <td>
                            <button type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">remove</i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header bg-light-green">
                <h2>
                    Spartak Stadium<small>1 de Junio &#64; 12:30 p.m. [En juego]</small>
                </h2>
            </div>
            <div class="body">
                <table width="100%" cellpadding="5px" cellspacing="2" border="0">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td align="center" width="55px"><b>Pron&oacute;stico</b></td>
                        <td align="center" width="55px"><b>Partido</b></td>
                    </tr>
                    <tr>
                        <td width="50px"><img src="~/images/flags/crc.png" alt="Costa Rica" /></td>
                        <td>Costa Rica</td>
                        <td align="center">0</td>
                        <td align="center">2</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="50px"><img src="~/images/flags/mex.png" alt="Costa Rica" /></td>
                        <td>Mexico</td>
                        <td align="center">1</td>
                        <td align="center">1</td>
                    </tr>
                </table>
                <br />
                <button class="btn bg-blue btn-lg btn-block waves-effect" type="button">Puntos del partido <span class="badge">1</span></button>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Spartak Stadium<small>1 de Junio &#64; 12:30 p.m. [Finalizado]</small>
                </h2>
            </div>
            <div class="body">
                <table width="100%" cellpadding="5px" cellspacing="2" border="0">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td align="center" width="55px"><b>Pron&oacute;stico</b></td>
                        <td align="center" width="55px"><b>Partido</b></td>
                    </tr>
                    <tr>
                        <td width="50px"><img src="~/images/flags/crc.png" alt="Costa Rica" /></td>
                        <td>Costa Rica</td>
                        <td align="center">0</td>
                        <td align="center">3</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="50px"><img src="~/images/flags/mex.png" alt="Costa Rica" /></td>
                        <td>Mexico</td>
                        <td align="center">1</td>
                        <td align="center">2</td>
                    </tr>
                </table>
                <br />
                <button class="btn bg-blue btn-lg btn-block waves-effect" type="button">Puntos del partido <span class="badge">0</span></button>
            </div>
        </div>
    </div>
</div>

