@{
    ViewBag.Title = "Posiciones";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Tabla de Posiciones
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">alfredoishere</a></li>
                            <li><a href="javascript:void(0);">lacho</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Posici&oacute;n</th>
                            <th>Nickname</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <th scope="row">1</th>
                            <td>1</td>
                            <td>alfredoishere</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>1</td>
                            <td>lacho</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>2</td>
                            <td>elhu</td>
                            <td>55</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>3</td>
                            <td>lilSu</td>
                            <td>49</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>3</td>
                            <td>lana</td>
                            <td>49</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>